Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.1
Flask-Limiter==3.5.0
Flask-Limiter[redis]==3.5.0
gunicorn==21.2.0
psycopg[binary]==3.2.13
gspread==6.1.4
google-auth==2.36.0
pypdf==6.10.2
pymupdf==1.27.2
pytesseract==0.3.13
Pillow==12.2.0
stripe==15.5.0
